<section class="main-container">
	<side-menu list-items="vm.categoryList"></side-menu>
	<header class="navbar navbar-default">
	  <div class="navbar-header">
	    <button type="button" class="btn btn-default show-menu">
	      <i class="glyphicon glyphicon-menu-hamburger text-muted"></i>
	    </button>
	  </div>
	  <div class="navbar-form navbar-right">
	  	<search></search>
	  </div>
	</header>

	<section class="videos-section">

		<div class="grid-wrapper">
			<ul class="dynamic-grid" angular-grid="pics" ag-grid-width="300" ag-gutter-size="15" ag-id="gallery" ag-refresh-on-img-load="false" >
	     <li data-ng-repeat="video in vm.videos" class="grid">
	     	<a ng-click="vm.goToVideo(video.id)">
	     		<figure>
	            <img ng-src="{{video.pictures.sizes[2].link}}" 
	            	class="grid-img" 
	            	data-actual-width="{{videoItem.pictures.sizes[2].width}}"  
	            	data-actual-height="{{videoItem.pictures.sizes[2].height}}" />
	          <figcaption>{{video.name}}</figcaption>
	        </figure>
	     	</a>
	     </li>
	 		</ul>
		</div>
		
 		<div class="text-center pagination-container">
 			<uib-pagination
	 			total-items="vm.totalItems" 
	 			ng-model="vm.page" 
	 			max-size="vm.maxSize" 
	 			class="pagination-sm"
	      items-per-page="vm.perPage" 
	      ng-change="vm.changePage()" 
	      boundary-link-numbers="true" 
	      rotate="false">
	     </uib-pagination>
 		</div>
	</section>
</section>