/**
 *  Side menu styles
 */
.menu{
  background: $color-purple;
  background: linear-gradient(to bottom, $color-purple 0%, $color-purple 9%, $color-purple 49%, #261e44 100%);
  height: 100%;
  left: 0;
  overflow-y: auto;
  position: fixed;
  transition: all 0.5s ease;
  width: 0;
  z-index: 1000;

  .menu-nav {
    ul {
      list-style: none;
      padding-left: 10px;
    }
    li {
      line-height: 20px;
      text-indent: 20px;
      padding-bottom: 10px;
    }
    li:nth-child(n+2) {
      padding: 10px 20px;  
    }
    .active {
      a {
        border-left: 2px solid rgba(255, 255, 255, 1);
        color: rgba(255, 255, 255, 1);
      }
    }
    a {
      border-left: 2px solid rgba(255, 255, 255, 0.5);
      color: rgba(255, 255, 255, 0.5);
      display: block;
      text-decoration: none;
      &:hover {
        border-color: #fff;
        color: #fff;
        text-decoration: none;
      }
      &:active, &:focus {
        text-decoration: none;
      }
    }
    .menu-brand {
      height: 65px;
      line-height: 60px;
      img {
        width: 80%;
      }
    }
  }
  @media (min-width: 992px) {
    width: $aside-width;
  }
}

.close {
  color: #fff;
  opacity: 1;
  @media (min-width: 992px) {
    display: none;
  }
}

.show{
  width: $aside-width;
}