/**
 *  Header styles
 */
.navbar-form {
  border: 0 !important;
}

.navbar-toggle {
	border: 0 !important;
}

.navbar-right {
  margin-right: 0 !important;
}

.navbar-header {
  line-height: 50px;
  button {
    background-color: transparent;
    border: none;
    @include font-size(2);
    left: 0;
    position: absolute;
    top: 10px;
  }
}

.navbar-header {
  @media (min-width: 992px) {
    display: none;
  }
  @media (max-width:767px) {
    display: inline-block;
    margin: 0;
  }
}

.navbar-right {
  @media (max-width:767px) {
    display: inline-block;
    margin: 0;
    padding-left: 50px;
    padding-bottom: 0;
    width: 98%;
  }
}
